<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Application</title>
</head>
<body>
    <% if (typeof errors !== 'undefined') { %>
        <% errors.forEach(error => { %>
            <p style="color: red;"> <%= error.msg %></p>
        <% }); %>
    <% } %>
    <h1><%= title %></h1>
    <form action="" method="post">
        <label for="title">Category Title:</label>
        <input type="text" name="title" value="<%= typeof category === 'undefined' ? '' : category.title %>">
        <label for="description">Category Description: </label>
        <input type="text" name="description" value="<%= typeof category === 'undefined' ? '' : category.description %>">
        <button type="submit"><%= typeof category === 'undefined' ? 'Create Category' : 'Update Category' %></button>
        <a href="/">Back to Homepage</a>
    </form>
</body>
</html>